{% extends 'index.html' %}
{% block link %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
{% endblock %}
{% block style %}
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;

}



.input-field {
    width: 100%;
    padding: 10px;
    border-color:white;

<!--    text-align: center;-->
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px ;
  text-align: center;
  padding: 8px;
  overflow: auto;
}
tbody{
    overflow:auto;
}

{% endblock %}
{% block body%}
<h2 class="fw-bold mt-4" style="margin-left:20px">Account Details</h2>
<div class="card mt-4" style="margin-left:20px">
  <div class="card-header bg-light">
    <h4 class="mb-0">
      <i class="bi bi-journal fs-5 me-2"></i>
      Records
    </h4>
  </div>
      <div class="card-body">
        <!--<p class="card-text">!-->
          <div style="overflow:auto">
    <table class="table table-striped table-bordered table-hover" name="table1" id="table1" >
  <thead class="bg-light">
  <tr class="fw-bold">
      <th scope="col"></th>
    <th scope="col">ID</th>
    <th scope="col">Platform ID</th>
    <th scope="col">Organisation</th>
      <th scope="col">Type</th>
    <th scope="col">Ultimate Parent</th>
      <th scope="col">Action</th>
    <th scope="col">Last Modified</th>
  </tr>
</thead>
        <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
      <td></td>
    <td></td>
    <td></td>
      <td></td>
    <td></td>

  </tr>
        </tbody>

</table>
</div>
</div>

</div>
<script>
window.onload = function() {
console.log("in func")
  refreshTable();
};
<!--const source = document.getElementById('search');-->
<!--const inputHandler = function(e) {-->
<!--  a = e.target.value;-->
<!--  console.log("search", a)-->
<!--  if (a == ""){-->
<!--  console.log("in if")-->
<!--    refreshTable();-->
<!--    }-->
<!--  else{-->
<!--      var form = new FormData();-->
<!--    form.append("search", a)-->
<!--    console.log("in else")-->
<!--    $.ajax({-->
<!--        url: 'http://127.0.0.1:8000/get_data?search='+a,-->
<!--        type: 'GET',-->
<!--        dataType: 'json',-->
<!--        processData: false,-->
<!--        contentType: false,-->
<!--        data:form,-->
<!--        success: function (data) {-->
<!--            console.log("data", data)-->
<!--            var $table = $('#table1');-->
<!--            $table.empty();-->
<!--            $table.append('<tr><th></th><th>ID</th><th>Platform ID</th><th>Organisation</th><th>Type</th><th>Ultimate Parent</th><th>Action</th><th>Last Modified</th></tr>');-->
<!--            $table.append('<tbody>');-->
<!--            console.log("appending body", data.data.length);-->
<!--            for (var i = 0; i < data.data.length; i++) {-->
<!--                $table.append('<tr><td><input type="checkbox" name="check" id="" disabled></td><td>'+ data.data[i].id +'</td><td>'+ data.data[i].sourcereferenceid +'</td><td>'+ data.data[i].name +'</td><td>'+ data.data[i].segment_type +'</td><td>'+ data.data[i].ultimate_parent_id +'</td><td><button type="button" class="btn btn-success me-1" onclick="nextview()" > <i class="fa-solid fa-circle-info fa-lg"></i>View</button></td><td>'+ data.data[i].lastmodifieddate + '</td><td><input value="' + data.data[i].id + '" name="id_record" id="id_record" type="hidden"></td></tr>');-->

<!--            console.log("in for")-->
<!--        }-->
<!--        $table.append('</tbody>');-->

<!--        },-->
<!--        error: function () {-->
<!--            console.log('Error fetching data');-->
<!--        }-->
<!--    });-->
<!--};-->

<!--}-->

<!--source.addEventListener('input', inputHandler);-->
function nextview(dataid){
console.log("dataid",dataid)
window.location.href = "http://127.0.0.1:8000/home/"+dataid;

}
    var refreshTable = function() {
    $.ajax({
        url: 'http://127.0.0.1:8000/get_data',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            console.log("data", data)
            var $table = $('#table1');
            $table.empty();
            $table.append('<tr><th></th><th>Perm ID</th><th>Platform ID</th><th>Organisation</th><th>Type</th><th>Ultimate Parent</th><th>Action</th><th>Last Modified</th></tr>');
            $table.append('<tbody>');
            console.log("appending body", data.data.length);
            for (var i = 0; i < data.data.length; i++) {
                $table.append('<tr><td><input type="checkbox" name="check" id="" disabled></td><td>'+ data.data[i].permid +'</td><td>'+ data.data[i].sourcereferenceid +'</td><td>'+ data.data[i].name +'</td><td>'+ data.data[i].segment_type +'</td><td>'+ data.data[i].ultimate_parent_id +'</td><td><button type="button" class="btn btn-success me-1" onclick="nextview('+ data.data[i].id +')" > <i class="fa-solid fa-circle-info fa-lg">View</i></button></td><td>'+ data.data[i].lastmodifieddate + '</td></tr><input value="' + data.data[i].id + '" name="id_record" id="id_record" type="hidden">');

            console.log("in for")
        }
        $table.append('</tbody>');

        },
        error: function () {
            console.log('Error fetching data');
        }
    });
};

</script>
{% endblock %}