<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {% block link %}{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css '%}" />

    <style>
{% block style %}{% endblock %}
    </style>
</head>
<body>

    <div class="wrapper" style="height: 100%;
    overflow: hidden;">
        <!--Top menu -->
        <div class="sidebar">
            <div style="color: #ffffff; text-align:center"><b>CRM</b></div>
            <div class="profile" style="margin-top:20px">
                <img src="{% static 'avatar2.png' %}" alt="Avatar">
                {% if user.is_authenticated %}
                    <h3>{{ user.get_username }}</h3>
                    <p>{{ user.email }}</p>
                {% endif %}

            </div>
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-phone"></i></span>
                        <span class="item">Contact Us</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-gear"></i></span>
                        <span class="item">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/logout/">
                        <span class="icon"><i class="fa fa-sign-out"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>

            </ul>
        </div>

    <div class="content" style="overflow:auto;">
{% block body%}{% endblock %}
</div>
{% block js %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>

    </div>
</body>
</html>